.review_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.review_container h1 {
    width: 360px;
        height: 40px;
        top: 4776px;
        left: 541px;
        gap: 0px;
        opacity: 0px;
        font-family: Poppins;
            font-size: 30px;
            font-weight: 600;
            line-height: 40px;
            text-align: center;
            color: black;
            margin-bottom: 50px;
            margin-top: 60px;
}
.reviews_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.review_card {
    width: 500px;
        height: 246px;
        top: 4972px;
        left: 186px;
        gap: 0px;
        opacity: 0px;
        background: #FFFFFF;
        box-shadow: 0px 0px 15px 0px #65B87D47;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
}
.review_card p {
    width: 412px;
        height: 102px;
        top: 5027px;
        left: 234px;
        gap: 0px;
        opacity: 0px;
        font-family: Poppins;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            color: #4D4D4D;
            margin-top: 30px;
}
.card_details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.card_details img {
    width: 66px;
        height: 63px;
        top: 5153px;
        left: 222px;
        gap: 0px;
        opacity: 0px;
        margin-right: 60px;
}
.review_profile {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.review_profile_left {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.star {
    margin-bottom: 50px;
}
.review_profile_left h1 {
    width: 95px;
        height: 20px;
        top: 5172px;
        left: 414px;
        gap: 0px;
        opacity: 0px;
        font-family: Poppins;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            text-align: left;
            color: black;
}
.image_6 {
    width: 66px;
        height: 63px;
        top: 5153px;
        left: 222px;
        gap: 0px;
        opacity: 0px;
}
.review_profile_right img {
    width: 78px;
        height: 78px;
        top: 5155px;
        left: 544px;
        gap: 0px;
        opacity: 0px;
        border-radius: 100%;
}
.review_profile_right {
    margin-left: 20px;
}
.bottom-container {
    width: 1485px;
        height: 500px;
        top: 5452px;
        left: -12px;
        gap: 0px;
        opacity: 0px;
        background: #282727;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.bottom-container-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bottom-container-details p {
    width: 287px;
        font-family: Mulish;
            font-size: 13px;
            font-weight: 600;
            line-height: 18px;
            text-align: left;
            color: white;
            margin-top: 10px;
}
.bottom-container-details div h3 {
    font-family: Mulish;
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
        text-align: left;
        color: #FFFFFF;
        margin-bottom: 10px;
}
.newsletter_container {
    width: 1052px;
        height: 200px;
        top: 126px;
        left: 182px;
        gap: 0px;
        border-radius: 15px 15px 15px 15px;
        opacity: 0px;
        background: #B0EEAA;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
}
.newsletter {
    display: flex;
    flex-direction: column;
}
.newsletter h1 {
    width: 317px;
        height: 20px;
        top: 5423px;
        left: 237px;
        gap: 0px;
        opacity: 0px;
        font-family: Mulish;
            font-size: 25px;
            font-weight: 700;
            line-height: 20px;
            text-align: left;
            color: #000000;
            margin-top: 10px;
}
.newsletter p {
    width: 392px;
        height: 78px;
        top: 5475px;
        left: 237px;
        gap: 0px;
        opacity: 0px;
        font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            color: #313230;
            margin-top: 20px;
}
.email {
    display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        width: 438px;
        height: 60px;
        border-radius: 80px;
        border: 1px solid #e3e3e3;
}
.email input {
    width: 500px;
        margin-left: 30px;
        border: none;
        outline: none;
        color: #616161;
        font-family: Poppins;
        font-size: 16px;
}
.email button {
    width: 186px;
        height: 60px;
        border-radius: 80px;
        background: black;
        color: white;
        font-size: 16px;
        cursor: pointer;
}
.br {
    width: 0px;
        height: 146px;
        top: 5414px;
        left: 704px;
        gap: 0px;
        border: 2px 2px 2px 2px;
        opacity: 0px;
        border: 2px solid #84B692;
}