.contact_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 950px;
}
.contact_container button {
    width: 130px;
        height: 38px;
        top: 448px;
        left: 649px;
        gap: 0px;
        border-radius: 50px 50px 50px 50px;
        opacity: 0px;
        background: #F0FDDC;
        font-family: Mulish;
        font-size: 15px;
        font-weight: 500;
        line-height: 25px;
        text-align: center;
        color: black;
        margin-bottom: 10px;
}
.contact_container h1 {
    font-family: Mulish;
        font-size: 30px;
        font-weight: 700;
        line-height: 37.65px;
        text-align: left;
        color: black;
        margin-top: 10px;
        margin-bottom: 50px;
}
.form {
    width: 1134px;
        height: 654px;
        top: 616px;
        left: 169px;
        gap: 0px;
        border-radius: 15px 15px 15px 15px;
        opacity: 0px;
        background: #FFFFFF;
        box-shadow: 0px 0px 15px 0px #31C43926;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}
.form div p {
    font-family: Mulish;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        text-align: left;
        color: #181645;
        margin-bottom: 10px;
}
.form div input {
    width: 460px;
        height: 48px;
        top: 758px;
        left: 271px;
        gap: 0px;
        border-radius: 8px 8px 8px 8px;
        opacity: 0px;
        background: #FFFFFF;
        border: 0px;
        box-shadow: 0px 0px 10px 0px #69CA8442;
        margin-bottom: 20px;
}
.form div button {
    width: 158px;
        height: 50px;
        top: 1307px;
        left: 271px;
        gap: 0px;
        border-radius: 50px 50px 50px 50px;
        opacity: 0px;
        background: #000000;
        color: white;
}
.form br {
    width: 0px;
        height: 546px;
        top: 710px;
        left: 911px;
        gap: 0px;
        border: 4px 0px 0px 0px;
        opacity: 0px;
        border: 1px solid #00ADB6;
}
.form_right {
    margin-left: 30px;
}
.form_right img {
    width: 358px;
        height: 315px;
        top: 950px;
        left: 945px;
        gap: 0px;
        opacity: 0px;
}